flask
gunicorn
Django>=4.2

numpy
pandas
scikit-learn
scipy

tensorflow
keras

transformers
huggingface-hub
tokenizers
safetensors

requests
python-dotenv
openai

protobuf
grpcio
whitenoise

psycopg2-binary



